**/dist/**
**/node_modules/**
**/yarn-error.log
**/*.tsbuildinfo
**/*.tgz
**/target/**
**/yarn.lock
**/.env.local
**/.next/**
**/next-env.d.ts
**/*.d.ts
**/.DS_Store
**/.swc/**
**/.idea/**

# the built binary is downloaded into this folder during CI
artifacts

**/out/**

**/.turbo/**
**/swc_isograph_plugin.wasm

**/.claude/settings.local.json