**/dist/**
**/node_modules/**
.vscode
**/yarn-error.log
**/*.tsbuildinfo
**/*.tgz
**/target/**
**/yarn.lock
**/.env.local
**/.next/**
**/next-env.d.ts
**/*.d.ts

# the built binary is downloaded into this folder during CI
artifacts

**/out/**
