[package]
name = "intern"
version = "0.0.4"
authors = ["forked from Facebook"]
edition = "2021"
description = "Intern data into a 32-bit id; forked from the Relay repo to increase reliability of GitHub Actions"
repository = "https://github.com/facebook/relay"
license = "MIT"

[dependencies]
fnv = "1.0"
hashbrown = { version = "0.12.3", features = ["raw", "serde"] }
indexmap = { version = "2.1.0", features = ["arbitrary", "rayon", "serde"] }
once_cell = "1.12"
parking_lot = { version = "0.12.1", features = ["send_guard"] }
serde = { version = "1.0.185", features = ["derive", "rc"] }
serde_bytes = "0.11"
serde_derive = "1.0.185"
smallvec = { version = "1.6.1", features = ["serde", "union"] }

[dev-dependencies]
bincode = "1.3.3"
rand = { version = "0.8", features = ["small_rng"] }
serde_json = { version = "1.0.100", features = [
    "float_roundtrip",
    "unbounded_depth",
] }

[lints]
workspace = false

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(memory_consistency_assertions)',
] }

[lints.clippy]
all = "allow"
