/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    75deg,
    var(--ifm-black) 0%,
    var(--ifm-color-primary) 50%,
    var(--ifm-color-primary) 100%
  );
  text-align: center;
}

.heroTitle {
  font-size: 5em;
  letter-spacing: 4px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0 3rem;
  }

  .heroTitle {
    font-size: 3em;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 996px) {
  .codeBlockDiv {
    display: none;
  }
}

.codeBlock {
  margin-bottom: 0 !important;
  box-shadow: 10px 5px 5px black;
}

.codeBlockDiv {
  position: relative;
  margin-right: 0;
  padding-right: 0;
}

.itsThatEasy {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: var(--ifm-color-primary);
  font-size: 1.7em;
  line-height: 1;
  font-style: italic;
}

.heroSubtitle {
  line-height: 1.25;
}
